<article>
  <h1>Your seller application</h1>

  <ol class="task-list">
    <li>
      <h2>
        <span class="step-number">1.</span> Check before you start
      </h2>
      <ul>
        <li>
          <a href="">Your company eligibility</a>
          <span class="completed">Completed</span>
        </li>
        <li>
          <a href="">Your service offering</a>
          <span class="completed">Completed</span>
        </li>
      </ul>
    </li>
    <li>
      <h2>
        <span class="step-number">2.</span> Your business details
      </h2>
      <ul>
        <li>
          <a href="">Your company name and ABN</a>
          <span class="completed">Completed</span>
        </li>
        <li>
          <a href="">Your contact details</a>
          <span class="completed">Completed</span>
        </li>
        <li>
          <a href="">Your address</a>
          <span class="completed">Completed</span>
        </li>
      </ul>
    </li>
    <li>
      <h2>
        <span class="step-number">3.</span> Your legal agreements
      </h2>
      <ul>
        <li>
          <a href="">Agree to the ICT Services Scheme rules</a>
          <span class="completed">Completed</span>
        </li>
        <li>
          <a href="">Agree to the Core Terms</a>
          <span class="completed">Completed</span>
        </li>
      </ul>
    </li>
    <li>
      <h2>
        <span class="step-number">4.</span> Apply
      </h2>
      <ul>
        <li>
          <a href="/external-platform/offering">Submit your application</a>
        </li>
      </ul>
    </li>
  </ol>
</article>
