<% content_for :main_classes do %>full-width<% end %>
<% content_for :skip_site_title, true %>

<section class="external-platform ict-workforce">
  <header>
    <div class="container">
      <h1>Contractor Central</h1>
    </div>
  </header>

  <div class="container">
    <h1>Complete ICT Workforce onboarding</h1>

    <fieldset>
      <p style="color: #666;">The following information is from <strong>buy.nsw</strong>. <a href="">Update your seller profile</a> if it has changed</a>.</p>

      <p>
        <label>Your business name</label><br>
        <span style="margin-top: .5rem">Clear Recruitment Pty Ltd</span>
      </p>

      <p>
        <label>Your ABN</label><br>
        <span style="margin-top: .5rem">10 123 456 789</span>
      </p>

      <p>
        <label>Your authorised representative</label><br>
        <span style="margin-top: .5rem">John Doe</span>
      </p>

      <p>
        <label>Your business address</label><br>
        <span style="margin-top: .5rem">150 George Street, Sydney, NSW 2000</span>
      </p>

      <p>
        <label>Your insurance</label><br>
        <span style="margin-top: .5rem">
          Public liability insurance (expires 30 June 2019)<br>
          Professional indemnity insurance (expires 30 June 2019)<br>
          Workers compensation insurance (expires 30 June 2019)
        </span>
      </p>
    </fieldset>

    <fieldset>
      <p>
        <label for="roles">Which roles do you provide candidates for?</label><br>
        <select id="roles" multiple style="height: 10rem; margin-top: .5rem; width: 100%;">
          <option>Aeroplane Pilot (231111)</option>
          <option>Agricultural Technician (311111)</option>
          <option>Analyst Programmer (261311)</option>
          <option>Architect (232111)</option>
          <option>Arts Administrator or Manager (139911)</option>
          <option>Barrister (271111)</option>
          <option>Bricklayer (331111)</option>
          <option>Cardiologist (253312)</option>
          <option>Cartographer (232213)</option>
        </select>
      </p>

      <p>
        <label for="roles">What is your daily rate cap?</label><br>
        <input type="text" style="margin-top: .5rem;">
      </p>
    </fieldset>

    <fieldset class="actions">
      <a href="" class="button">Next step</a>
    </fieldset>
  </div>
</section>
