<article class="external-platform offering">
  <h1>Your offering</h1>

  <div class="confirmation">
    <h2>Your application has been submitted</h2>
    <p>We will review your seller application within 1 week. You can provide details of your offering while we review your application.</p>
  </div>

  <p>Based on the information you have provided, you can apply for the categories below.</p>

  <p>If you want to sell other services, <a href="">amend your seller application</a>.</p>

  <div class="pathway">
    <div class="information">
      <h2>Cloud products and services</h2>
      <p>Cloud software, hosting and infrastructure. Also includes support services for transitioning to cloud and for monitoring and managing cloud environments.</p>
    </div>
    <div class="action">
      <a href="" class="button">Provide details</a>
    </div>
  </div>

  <div class="pathway">
    <div class="information">
      <h2>ICT Workforce</h2>
      <p>Contractors and contingent workers working under the direction of a line manager within government.</p>
    </div>
    <div class="action">
      <a href="/external-platform/ict-workforce" class="button">Provide details</a>
      <p class="destination">on NSW Contractor Central</p>
    </div>
  </div>

  <div class="pathway">
    <div class="information">
      <h2>Advisory and consulting</h2>
      <p>Specialist ICT expertise acting in an advisory capacity. Includes building business cases, technology audits and digital transformation advice.</p>
    </div>
    <div class="action">
      <a href="" class="button">Provide details</a>
    </div>
  </div>
</article>
