<article>
  <h1>Apply to sell to NSW Government</h1>

  <p>To become a registered seller you need to tell us about your business.</p>
  <p>The information you share will be used to create your seller profile and confirm your business meets the basic requirements to work with NSW government.</p>
  <p>It may take more than one visit to complete this application. But don't worry, your information is saved automatically if you need to come back later.</p>
  <h3>You'll need</h3>
  <ul>
    <li>your basic business information</li>
    <li>recent financial records</li>
    <li>current insurance documents</li>
  </ul>

  <h3>You'll be asked to</h3>
  <ul>
    <li>share details about products and services you offer</li>
    <li>provide details and case studies to support your application</li>
    <li>accept the <a href="#">contracting terms which apply to your business</a></li>
  </ul>

  <fieldset class="actions">
    <a href="/external-platform/application" class="button">Start now</a>
  </fieldset>
</article>
