<article>
  <h1>buy.nsw prototypes</h1>

  <p>These are sketches-in-code of potential future user journeys on <a href="https://buy.nsw.gov.au">buy.nsw</a>.</p>

  <ul class="prototypes-list">
    <li>
      <a href="/buyer-dashboard">Buyer dashboard</a>
      A single view of all procurement activity for an individual organisation.
    </li>
    <li>
      <a href="/simple-guidance">Buyers: simple guidance</a>
      A buyer journey where procurement information and services are combined together.
    </li>
    <li>
      <a href="/external-platform">Seller onboarding: external platform</a>
      A seller onboarding journey which starts on buy.nsw and continues to an external marketplace, eg. eTendering.
    </li>
  </ul>
</article>
