<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="/assets/application.css">
  <script type="text/javascript" src="/assets/application.js"></script>

  <title>buy.nsw prototypes</title>
</head>

<body>
  <header role="banner" class="global">
    <div class="container">
      <div class="row">
        <h1 class="logo">
          <a href="/">
            <div class="logo-container">
              <span class="logo">NSW Government</span>
            </div>
            <% unless content_for?(:skip_site_title) %>
              <span class="site-title">buy.nsw</span>
            <% end %>
          </a>
        </h1>
      </div>
    </div>
  </header>

  <main class="<%= yield_content :main_classes %>">
    <%= yield %>
  </main>

  <footer class="global">
    <div class="container">
      <div class="footer-bottom-row">
        <div class="footer-legal">
          <ul>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms of use</a></li>
            <li><a href="">Accessibility statement</a></li>
            <li><a href="">License and attribution</a></li>
          </ul>

          <p class="made-by">
            Built by the <a href="https://www.finance.nsw.gov.au/">NSW Department of Finance, Services and Innovation</a>
          </p>
        </div>
        <div class="footer-logo">
          <a href="https://www.nsw.gov.au" class="nsw-gov-logo">
            <span>NSW Government</span>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
