<div class="buyer-dashboard index">
  <h1>Your buyer account</h1>
  <p class="department-name">Department of Finance, Services and Innovation</p>

  <div class="statistics">
    <p>
      <a href="/buyer-dashboard/contracts">
        <span class="big-number">371</span> active contracts
      </a>
    </p>
    <p>
      <a href="">
        <span class="big-number">12</span> open briefs
      </a>
    </p>
    <p>
      <a href="">
        <span class="big-number">12</span> orders in progress
      </a>
    </p>
  </div>

  <div class="activity">
    <h2>Latest activity in your organisation</h2>

    <ol>
      <li>
        <span class="name">John Smith</span> (ICT and Digital Government) finalised <a href="">Contract #382</a> with Taragon Web Services
        <span class="timestamp">3 hours ago</span>
      </li>
      <li>
        <span class="name">Eleanor Jones</span> (Government Technology Platforms) closed <a href="">Brief #173</a> for legal services
        <span class="timestamp">2 days ago</span>
      </li>
      <li>
        <span class="name">James Williams</span> (Better Regulation) opened <a href="">Brief #184</a> for technology advisory services
        <span class="timestamp">3 days ago</span>
      </li>
      <li>
        <span class="name">Will Taylor</span> (Cyber Security) started <a href="">Order #418</a> to purchase <a href="">TreeFlex Cloud Firewall</a>
        <span class="timestamp">3 days ago</span>
      </li>
    </ol>

    <p>
      <a href="" class="see-more-link">See all recent activity</a>
    </p>
  </div>

</div>
