@import 'buyer_dashboard/search';

.buyer-dashboard {
  &.index {
    @include two-thirds;
  }

  .department-name {
    color: #444;
    margin-top: -1rem;
  }

  .statistics {
    border-bottom: 1px solid $grey-3;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    p {
      margin-bottom: .3rem;

      @include media-breakpoint-up(sm) {
        display: inline-block;
        width: 49%;
      }
    }

    a {
      text-decoration: none;
    }

    .big-number {
      font-weight: bold;
      font-size: 2.5em;
      padding-right: .4rem;
    }
  }

  .activity {
    ol {
      list-style: none;
      font-size: .95rem;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid $grey-3;
      padding: .85rem 0;
    }

    .name {
      font-weight: bold;
    }

    .timestamp {
      color: #888;
      display: inline-block;
    }

    .see-more-link {
      font-weight: bold;
      text-decoration: none;
    }
  }

}
