<div class="simple-guidance two-thirds">
  <h1>Buy cloud services</h1>

  <ul class="category-list">
    <li>
      <a href="https://buy.nsw.gov.au/cloud/applications-software">Buy applications and software</a>
      <span>eg. accounting tools or customer management software</span>
    </li>

    <li>
      <a href="https://buy.nsw.gov.au/cloud/hosting-infrastructure">Buy hosting and infrastructure</a>
      <span>eg. website hosting and load balancing services</span>
    </li>

    <li>
      <a href="https://buy.nsw.gov.au/govdc">Buy physical data centre space and services</a>
      <span>Buy space and support services in Government Data Centres (GovDC)</span>
    </li>
  </ul>

  <div class="secondary-section">
    <h2>Guidance for buying cloud services</h2>

    <ul class="secondary-list">
      <li><a href="">Buying cloud services: an overview</a></li>
      <li><a href="">Contract terms and conditions for cloud services</a></li>
      <li><a href="">Choosing a hosting option for your service</a></li>
      <li><a href="">Security considerations for cloud services</a></li>
      <li><a href="">Avoiding vendor lock-in when buying cloud services</a></li>
      <li><a href="">Buying cloud services: case studies</a></li>
      <li class="see-more"><a href="">See detailed guidance and manuals &rarr;</a></li>
    </ul>
  </div>

  <div class="secondary-section">
    <h2>Join the community</h2>

    <p>The Technology Community is a group of technologists from across the NSW Government. Talk to them if you need help choosing technology or buying cloud services.</p>
    <p>The group meets monthly. You can get involved by <a href="">joining the online group</a>.</p>
  </div>
</div>
