<% content_for :main_classes do %>full-width<% end %>
<% content_for :skip_site_title, true %>
<div class="simple-guidance homepage">
  <header>
    <div class="container">
      <h1 class="site-title">buy.nsw</h1>
      <p class="subtitle">Simpler procurement</p>
    </div>
  </header>

  <div class="container">
    <h2>Buy goods and services for your government department</h2>

    <div class="categories">
      <ul class="category-list category-list-column">
        <li>
          <a href="/simple-guidance/technology">Technology</a>
          <span>eg. software, hardware, cloud services</span>
        </li>
        <li>
          <a href="">Legal services</a>
          <span>eg. legal advice and support services</span>
        </li>
        <li>
          <a href="">Construction</a>
          <span>eg. architecture, planning, engineering services</span>
        </li>
      </ul>

      <ul class="category-list category-list-column">
        <li>
          <a href="">Contingent labour</a>
          <span>eg. contractors, temporary staff</span>
        </li>
        <li>
          <a href="">Office supplies</a>
          <span>eg. stationery, office furniture</span>
        </li>
        <li>
          <a href="">Catering</a>
          <span>eg. culinary services, ingredients</span>
        </li>
      </ul>
    </div>

    <h2>Sell your goods and services to government</h2>

    <p class="section-link">
      <a href="">Apply to sell to the NSW Government</a>
      <span>Create your seller profile and apply to sell goods and services to government</span>
    </p>

    <p class="section-link">
      <a href="">View your seller dashboard</a>
      <span>If you are already approved, view and manage your government offering</span>
    </p>

    <p class="section-link">
      <a href="">See published government contracts</a>
      <span>Browse the contracts agreed to by NSW Government agencies</span>
    </p>
  </div>
</div>
