<div class="simple-guidance two-thirds">
  <h1>Buy technology</h1>

  <ul class="category-list">
    <li>
      <a href="/simple-guidance/technology/cloud-services">Buy cloud products and services</a>
      <span>Buy cloud software, hosting and infrastructure.</span>
    </li>

    <li>
      <a href="">Buy hardware</a>
      <span>Buy desktops, laptops and tablets, interactive whiteboards, as well as peripherals such as keyboards and screens.</span>
    </li>

    <li>
      <a href="">Buy contingent ICT labour</a>
      <span>Buy contractors and contingent workers working under the direction of a line manager within government.</span>
    </li>

    <li>
      <a href="">Buy advisory services</a>
      <span>Buy specialist ICT expertise acting in an advisory capacity. Includes building business cases, technology audits and digital transformation advice.</span>
    </li>
  </ul>
</div>
